<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Datatables demo for Django{% endblock %}</title>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script type="text/javascript" src="/site_media/js/jquery.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery.dataTables.js"></script>
	
	<link rel="Stylesheet" href="/site_media/css/datatables.css" type="text/css"/>
	
	{% block head %}{% endblock %}
</head>

<body>

{% block content %}
{% endblock %}

</body>
</html>