<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Datatables demo for Django{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
	
	<link rel="Stylesheet" href="{{ STATIC_URL }}/css/jquery.dataTables.css" type="text/css">
	
	{% block head %}{% endblock %}
</head>

<body>

{% block content %}
{% endblock %}

</body>
</html>
