{% extends "base.html" %}

{% block head %}
{{ block.super }}

<script type="text/javascript">
/* <![CDATA[ */
$(document).ready(function() {
	$('#example').dataTable({
		"bServerSide": true, 
		"bJQueryUI": true,
		"sAjaxSource": "{% url get_countries_list %}",
		"aoColumns": [
			{ "bSearchable": false},
			{ "bSearchable": true},
			{ "bSearchable": true},
			{ "bSearchable": true},
			{ "bSearchable": false},
			{ "bSearchable": false},
			{ "bSearchable": false},
			{ "bSearchable": false},
		],
		"sScrollY": "200px",
		"sDom": "frtiS",
		"oScroller": {
			"loadingIndicator": true
		}
	});
} );
/* ]]> */
</script>

{% endblock %}

{% block content %}
<a href="/">Back to index</a>
<div id="container">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"> 
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Name
			</th>
			<th>
				Formal name
			</th>
			<th>
				Capital
			</th>
			<th>
				Currency code
			</th>
			<th>
				Currency name
			</th>
			<th>
				Phone prefix
			</th>
			<th>
				TLD
			</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>
</div>
{% endblock %}
